
{% extends 'base.html' %}

{% block body %}



{% load static %}



     <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
          
            <div class="col-lg">
                <div class="container-fluid pt-5">
                    <div class="text-center mb-4">
                        <h2 class="section-title px-5"><span class="px-2">Featured Products</span></h2>
                    </div>
                </div>
                <!-- Here I'll give the featured products -->
                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">

                    {% for data in featured_products %}
                    {% if forloop.counter == 1%}
                        <div class="carousel-item active" style="height: 410px;">
                    {% else %}
                    <div class="carousel-item" style="height: 410px;">
                    {% endif %}
                   
                            <img class="img-fluid" src="{{data.product_website.image_path}}" alt="Image" style="width: 410px;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">{{data.product_website.product.product_name}}</h3>
                                    <h5 class="text-light text-uppercase font-weight-medium mb-3">{{data.product_website.price}}৳</h5>
                                    <a href="{{data.product_website.url}}" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                   
                        
                    </div>


                    
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div> 
    <!-- Navbar End -->


    <!-- Top Offers Start -->
    <div class="container-fluid pt-5">
      <div class="text-center mb-4">
          <h2 class="section-title px-5"><span class="px-2">Top Offers</span></h2>
          
         
      </div>
      

      <div class="row px-xl-5 pb-3">
          {% for data in top_offers %}

          
            <!-- Modal start-->
            <div class="modal fade " id="exampleModal2{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                          <div class="row">
                          <div class="col">
                              <img style="width:350px;" src="{{data.product_website.image_path}}"alt="">
                          </div>
                          <div class="col">
                              <div class="container">
                                  <div class="row">
                                      <h6 class="modal-title" id="exampleModalLabel2{{forloop.counter}}"><b>{{offer.product_website.product.product_name}}</b></h6>
                                      <br><br>
                                  </div>
                                  <div class="row">
                                      <div class="col"><h6 ><b>Brand&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                      <div class="col"><h6>{{data.product_website.product.product_brand}} </h6></div>
                                  </div>

          
                                    <div class="row">
                                      <div class="col"><h6 ><b>Website&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                      <div class="col"><h6>{{data.product_website.website.website_name}} </h6></div>
                                    </div>

                                    
                                    
                                    <!-- <div class="row">
                                      <div class="col"><h6 ><b>Shipping&nbsp;Time&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                      <div class="col"><h6>{{data.product_website.shipping_time}}  </h6></div>
                                    </div>

                                    <div class="row">
                                      <div class="col"><h6 ><b>Delivery&nbsp;Charge&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                      <div class="col"><h6>{{data.product_website.delivery_charge}}৳ </h6></div>
                                    </div> -->

              

                                    <div class="row">
                                      <div class="col"><h5 ><b>Price&nbsp;&nbsp;&nbsp;&nbsp;</b></h5></div>
                                      <div class="col"><h6>{{data.product_website.price}}৳  </h6></div>
                                    </div>

                                    <!-- <div class="row">
                                      <div class="col"><h6 ><b>Available&nbsp;Stocks&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                      <div class="col"><h6>{{data.product_website.available_count}} </h6></div>
                                    </div> -->

                                    <div class="row ">
                                    &nbsp;
                                   </div>
                                    <div class="row justify-content-center">
     
                                      <h5><b>Offer Details</b></h5>
                                      
                                   </div>

                                   <div class="row ">
                                    <h6>{{data.offer.discount_percentage}}%&nbsp;Off</h6>
                                 </div>

                                 <div class="row">
                
                                  <h6>{{data.offer.discount_amount}}৳ &nbsp;Off</h6>
                               </div>

                               {% if data.offer.is_free_shipping %}
                               <div class="row">
                            <h6>Free Shipping Available</h6>
      
                             </div>
                             {% endif %}

                             {% if data.offer.buy_one_get_one_free %}
                             <div class="row"><h6>Buy 1 Get 1 Free</h6></div>
                                  
                              {% endif %}

                              <div class="row">
                                &nbsp;
                              </div>

                              <div class="row">
                                 <h5>Specifications</h5>
                              </div>
                              <hr>

                             {% for spec_item in data.specifications %}
                              <div class="row">
                                 <div class="col"><h6 ><b>{{spec_item.spec.spec_name}}</b></h6></div>
                                 <div class="col"><h6>{{spec_item.spec_val}} </h6></div>
                              </div>
                              {% endfor %}

                            

                              


                              </div>
                          </div>
                          </div>
              
                      </div>
                    </div>
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="{{data.product_website.url}}" class="btn btn-sm text-dark p-0"><i class="fas fa-link text-primary mr-1"></i>Go to website</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal end -->

          <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
              <div class="card product-item border-0 mb-4">
                
                  <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                      <img class="img-fluid w-100" src="{{data.product_website.image_path}}" alt="">
                  </div>
                  <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                      <h6 class="text-truncate mb-3">{{data.product_website.product.product_name}}</h6>
                      <div class="d-flex justify-content-center">
                        {% if data.offer.is_free_shipping %}
                          <h6>Free Shipping</h6>
                        {% endif %}
                      </div>
                      <div class="d-flex justify-content-center">
                        {% if data.offer.buy_one_get_one_free %}
                          <h6>Buy 1 Get 1</h6>
                        {% endif %}
                      </div>
                      <div class="d-flex justify-content-center">
                        <h6>{{data.offer.discount_percentage}}% off</h6>
                      </div>
                      <div class="d-flex justify-content-center">
                        <h6>{{data.offer.saved_amount}}৳ </h6><h6 class="text-muted ml-2"><del>{{data.product_website.price}}৳</del></h6>
                      </div>
                  </div>
                  <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="#" class="btn btn-sm text-dark p-0" data-toggle="modal" data-target="#exampleModal2{{forloop.counter}}" ><i class="fas fa-eye text-primary mr-1"></i>View Details</a>
                    <a href="{{data.product_website.url}}" class="btn btn-sm text-dark p-0"><i class="fas fa-link text-primary mr-1"></i>Go to website</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      <!-- Top Offers ends here -->
      </div>
  </div>
   <!-- Top Offers ends here -->

    <!-- trand Deals Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Trending Deals</span></h2>
            
           
        </div>
    


        <div class="row px-xl-5 pb-3">
            {% for data in trending_deals %}

            
              <!-- Modal start-->
              <div class="modal fade " id="exampleModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                            <div class="col">
                                <img style="width:350px;" src={{data.product_website.image_path}} alt="">
                            </div>
                            <div class="col">
                                <div class="container">
                                    <div class="row">
                                        <h6 class="modal-title" id="exampleModalLabel{{forloop.counter}}"><b>{{data.product_website.product.product_name}}</b></h6>
                                        <br><br>
                                    </div>
                                    <div class="row">
                                       <div class="col"><h6 ><b>Brand&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                       <div class="col"><h6>{{data.product_website.product.product_brand}} </h6></div>
                                    </div>

            
                                     <div class="row">
                                        <div class="col"><h6 ><b>Website&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                        <div class="col"><h6>{{data.product_website.website.website_name}} </h6></div>
                                     </div>

                                     
<!--                                      
                                    <div class="row">
                                        <div class="col"><h6 ><b>Shipping&nbsp;Time&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                        <div class="col"><h6>{{data.product_website.shipping_time}}  </h6></div>
                                     </div>

                                     <div class="row">
                                        <div class="col"><h6 ><b>Delivery&nbsp;Charge&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                        <div class="col"><h6>{{data.product_website.delivery_charge}}৳ </h6></div>
                                     </div> -->

                

                                     <div class="row">
                                        <div class="col"><h5 ><b>Price&nbsp;&nbsp;&nbsp;&nbsp;</b></h5></div>
                                        <div class="col"><h6>{{data.product_website.price}}৳  </h6></div>
                                     </div>

                                     <!-- <div class="row">
                                        <div class="col"><h6 ><b>Available&nbsp;Stocks&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                        <div class="col"><h6>{{data.product_website.available_count}} </h6></div>
                                     </div> -->

                                     <div class="row">
                                      &nbsp;
                                    </div>

                                    <div class="row">
                                       <h5>Specifications</h5>
                                    </div>
                                    <hr>

                                   {% for spec_item in data.specifications %}
                                    <div class="row">
                                       <div class="col"><h6 ><b>{{spec_item.spec.spec_name}}</b></h6></div>
                                       <div class="col"><h6>{{spec_item.spec_val}} </h6></div>
                                    </div>
                                    {% endfor %}

                                    <div class="row">
                                       &nbsp;
                                     </div>

                                     <div class="row">
                                        <h5>Discount</h5>
                                     </div>
                                     <hr>

                                     <div class="row">
                                       <h6>{{data.offer.discount_percentage}}% Discount</h6>
                                      
                                       </div>
                                       <div class="row">
                                           
                                           <div class="col"><h6>Your save {{data.offer.discount_amount}}৳ </h6></div>
                                       </div>
                                     
                                  
                                    

                                </div>
                            
                                    
                                    
                                    
                                    
                              
                            </div>
                            </div>
                
                        </div>
                      </div>
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <a href="{{data.product_website.url}}" class="btn btn-sm text-dark p-0"><i class="fas fa-link text-primary mr-1"></i>Go to website</a>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal end -->

            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                  
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{data.product_website.image_path}}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{data.product_website.product.product_name}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>{{data.product_website.price}}৳</h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="#" class="btn btn-sm text-dark p-0" data-toggle="modal" data-target="#exampleModal{{forloop.counter}}" ><i class="fas fa-eye text-primary mr-1"></i>View Details</a>
                    `   <a href="{{data.product_website.url}}" class="btn btn-sm text-dark p-0"><i class="fas fa-link text-primary mr-1"></i>Go to website</a>
                    </div>
                </div>
            </div>
            {% endfor %}
       
        </div>
    </div>
 <!--trend deals ends here -->



    

    <!-- Editors Pick Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Editors Pick</span></h2>
            
           
        </div>
       


        <div class="row px-xl-5 pb-3">
            {% for data in editors_pick %}

              
              <!-- Modal start-->
              <div class="modal fade " id="exampleModal1{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                            <div class="col">
                                <img style="width:350px;" src={{data.product_website.image_path}} alt="">
                            </div>
                            <div class="col">
                                <div class="container">
                                    <div class="row">
                                        <h6 class="modal-title" id="exampleModalLabel1{{forloop.counter}}"><b>{{data.product_website.product.product_name}}</b></h6>
                                        <br><br>
                                    </div>
                                    <div class="row">
                                       <div class="col"><h6 ><b>Brand&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                       <div class="col"><h6>{{data.product_website.product.product_brand}} </h6></div>
                                    </div>

            
                                     <div class="row">
                                        <div class="col"><h6 ><b>Website&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                        <div class="col"><h6>{{data.product_website.website.website_name}} </h6></div>
                                     </div>

                                     
                                     
                                     <!-- <div class="row">
                                        <div class="col"><h6 ><b>Shipping&nbsp;Time&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                        <div class="col"><h6>{{data.product_website.shipping_time}}  </h6></div>
                                     </div>

                                     <div class="row">
                                        <div class="col"><h6 ><b>Delivery&nbsp;Charge&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                        <div class="col"><h6>{{data.product_website.delivery_charge}}৳ </h6></div>
                                     </div>-->

                

                                     <div class="row">
                                        <div class="col"><h5 ><b>Price&nbsp;&nbsp;&nbsp;&nbsp;</b></h5></div>
                                        <div class="col"><h6>{{data.product_website.price}}৳  </h6></div>
                                     </div>

                                     <!-- <div class="row">
                                        <div class="col"><h6 ><b>Available&nbsp;Stocks&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                        <div class="col"><h6>{{data.product_website.available_count}} </h6></div> 
                                     </div> -->

                                     <div class="row">
                                      &nbsp;
                                    </div>

                                    <div class="row">
                                       <h5>Specifications</h5>
                                    </div>
                                    <hr>

                                   {% for spec_item in data.specifications %}
                                    <div class="row">
                                       <div class="col"><h6 ><b>{{spec_item.spec.spec_name}}</b></h6></div>
                                       <div class="col"><h6>{{spec_item.spec_val}} </h6></div>
                                    </div>
                                    {% endfor %}

                                    <div class="row">
                                       &nbsp;
                                     </div>

                                     <div class="row">
                                        <h5>Discount</h5>
                                     </div>
                                     <hr>

                                     <div class="row">
                                       <h6>{{data.offer.discount_percentage}}% Discount</h6>
                                      
                                       </div>
                                       <div class="row">
                                           
                                           <div class="col"><h6>Your save {{data.offer.discount_amount}}৳ </h6></div>
                                       </div>
                                </div>
                              
                            </div>
                            </div>
                
                        </div>
                      </div>
                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <a href="{{data.product_website.url}}" class="btn btn-sm text-dark p-0"><i class="fas fa-link text-primary mr-1"></i>Go to website</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- modal end  -->

            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                  
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{data.product_website.image_path}}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{data.product_website.product.product_name}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>{{data.product_website.price}}৳</h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                      <a href="#" class="btn btn-sm text-dark p-0" data-toggle="modal" data-target="#exampleModal1{{forloop.counter}}" ><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                      <a href="{{data.product_website.url}}" class="btn btn-sm text-dark p-0"><i class="fas fa-link text-primary mr-1"></i>Go to website</a>
                    </div>
                </div>
            </div>
            {% endfor %}
       
        </div>
    </div>
    <!--Editors Pick ends here -->

    



{% endblock %}



