{% extends 'base.html' %}

{% block body %}

{% load static %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">{{search_key}}</h1>
            <div class="d-inline-flex">
                <p class="m-0">Results</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h6 class="font-weight-semi-bold mb-4">Filter by price</h6>
                    <form action="{% url 'product:filter' search_key 'by_price' %}" method = "POST">
                      
                        {% csrf_token %}

                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price_1" name = "price" value = "0-1000">
                            <label class="custom-control-label" for="price_1">0৳ - 1000৳</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price_2" name = "price" value = "1000-5000">
                            <label class="custom-control-label" for="price_2">1000৳ - 5000৳</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price_3" name = "price" value = "5000-25000">
                            <label class="custom-control-label" for="price_3">5000৳ - 25000৳</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price_4" name = "price" value = "25000-50000">
                            <label class="custom-control-label" for="price_4">25000৳ - 50000৳</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price_5" name = "price" value = "50000-100000">
                            <label class="custom-control-label" for="price_5">50000৳ - 100000৳</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price_6" name = "price" value = "100000-100000000000">
                            <label class="custom-control-label" for="price_6">Above 100000৳</label>
                        </div>

                        <button class = "btn btn-primary" type="submit"> Filter&nbsp;Products</button>

                    </form>
                </div>
                <!-- Price End -->




                <!-- Percentage Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h6 class="font-weight-semi-bold mb-4">Filter by % Discount</h6>
                    <form action="{% url 'product:filter' search_key 'by_discount_perc' %}" method = "POST">

                        {% csrf_token %}

                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="disc_perc_1" name = "disc_perc" value = "0-30">
                            <label class="custom-control-label" for="disc_perc_1">0% - 30%</label>
                        </div>

                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="disc_perc_2" name = "disc_perc" value = "30-50">
                            <label class="custom-control-label" for="disc_perc_2">30% - 50%</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="disc_perc_3" name = "disc_perc" value = "50-100">
                            <label class="custom-control-label" for="disc_perc_3">above 50%</label>
                        </div>


                        <button class = "btn btn-primary" type="submit"> Filter&nbsp;Products</button>

                    </form>
                </div>
                <!-- Percentage End -->


                <!-- discount amount Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h6 class="font-weight-semi-bold mb-4">Filter by Discount Amount</h6>
                    <form action="{% url 'product:filter' search_key 'by_discount_amt' %}" method = "POST">

                        {% csrf_token %}

                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="disc_amt_1" name = "disc_amt" value = "0-1000">
                            <label class="custom-control-label" for="disc_amt_1">0৳ - 1000৳</label>
                        </div>

                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="disc_amt_2" name = "disc_amt" value = "1000-5000">
                            <label class="custom-control-label" for="disc_amt_2">1000৳ - 5000৳</label>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="disc_amt_3" name = "disc_amt" value = "5000-100000000000">
                            <label class="custom-control-label" for="disc_amt_3">Above 5000৳</label>
                        </div>


                        <button class = "btn btn-primary" type="submit"> Filter&nbsp;Products</button>

                    </form>
                </div>
                <!-- discount amount End -->

                  <!-- other filters Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h6 class="font-weight-semi-bold mb-4">Filter by offer</h6>
                    <form action="{% url 'product:filter' search_key 'other filters' %}" method = "POST">
                        {% csrf_token %}

                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="color-1" name="others" value = "ending soon">
                            <label class="custom-control-label" for="color-1">Offer Ending Soon</label>
                        </div>
                       
                        <button class = "btn btn-primary" type="submit"> Filter&nbsp;Products</button>
                    </form>
                </div>
                <!-- other filters End -->



            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <form action="{% url 'product:search_name' search_key %}" method = "POST">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="form-control" name = "search_name" id = "search_name" placeholder="Search by name">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <button class = "btn btn-sm" type="submit"> <i class="fa fa-search" type = "submit"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <div class="dropdown ml-4">
                                <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                            Sort by
                                        </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                    <a class="dropdown-item" href="{% url 'product:sort' search_key 'Unit Price Low To High' %}">Unit Price Low To High</a>
                                    <a class="dropdown-item" href="{% url 'product:sort' search_key 'Unit Price High To Low' %}">Unit Price High To Low</a>
                                    <a class="dropdown-item" href="{% url 'product:sort' search_key 'Latest' %}">Latest</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% for data in data_list %}
                    <!-- Modal for details -->
                    <div class="modal fade " id="exampleModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                          <div class="modal-content">
                            <div class="modal-header">

                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                    <div class="col">
                                        <img style="width:350px;" src={{data.product_website.image_path}} alt="">
                                    </div>
                                    <div class="col">
                                        <div class="container">
                                            <div class="row">
                                                <h6 class="modal-title" id="exampleModalLabel{{forloop.counter}}"><b>{{data.product_website.product.product_name}}</b></h6>
                                                <br><br>
                                            </div>
                                            <div class="row">
                                               <div class="col"><h6 ><b>Brand&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                               <div class="col"><h6>{{data.product_website.product.product_brand}} </h6></div>
                                            </div>


                                             <div class="row">
                                                <div class="col"><h6 ><b>Website&nbsp;&nbsp;&nbsp;&nbsp;</b></h6></div>
                                                <div class="col"><h6>{{data.product_website.website.website_name}} </h6></div>
                                             </div>




                                             <div class="row">
                                                <div class="col"><h5 ><b>Price&nbsp;&nbsp;&nbsp;&nbsp;</b></h5></div>
                                                <div class="col"><h6>{{data.product_website.price}}৳  </h6></div>
                                             </div>

                                             <div class="row">
                                               &nbsp;
                                             </div>

                                             <div class="row">
                                                <h5>Specifications</h5>
                                             </div>
                                             <hr>

                                            {% for spec_item in data.specifications %}
                                             <div class="row">
                                                <div class="col"><h6 ><b>{{spec_item.spec.spec_name}}</b></h6></div>
                                                <div class="col"><h6>{{spec_item.spec_val}} </h6></div>
                                             </div>
                                             {% endfor %}

                                             <div class="row">
                                                &nbsp;
                                              </div>
 
                                              <div class="row">
                                                 <h5>Discount</h5>
                                              </div>
                                              <hr>

                                              <div class="row">
                                                <h6>{{data.offer.discount_percentage}}% Discount</h6>
                                               
                                                </div>
                                                <div class="row">
                                                    
                                                    <div class="col"><h6>Your save {{data.offer.discount_amount}}৳ </h6></div>
                                                </div>


                                        </div>






                                    </div>
                                </div>

                                </div>
                              </div>

                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <a href="{{data.product_website.url}}" class="btn btn-sm text-dark p-0"><i class="fas fa-link text-primary mr-1"></i>Go to website</a>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="img-fluid w-100" src={{data.product_website.image_path}} alt="">
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">{{data.product_website.product.product_name}}</h6>

                                <b>Brand : </b> {{data.product_website.product.product_brand}}
                                <!-- {% if data.product_website.product.product_brand != 'Non-Brand' %}
                                    {{data.product_website.product.product_brand}}
                                {% else %}
                                      ---
                                {% endif %} -->
                                <div class="d-flex justify-content-center">
                                    <h6 class="text-truncate mb-3">{{data.product_website.price}}৳</h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border">
                                <a href="#" class="btn btn-sm text-dark p-0" data-toggle="modal" data-target="#exampleModal{{forloop.counter}}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Details</a>
                                <a href="{{data.product_website.url}}" class="btn btn-sm text-dark p-0"><i class="fas fa-link text-primary mr-1"></i>Go to website</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    <!-- <div class="col-12 pb-1">
                        <nav aria-label="Page navigation">
                          <ul class="pagination justify-content-center mb-3">
                            <li class="page-item disabled">
                              <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                              <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                    </div> -->
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->

{% endblock %}
